[Unit]
Description=Read from ESP32
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/usr/bin/env HOME=/home/pi bash /home/pi/python/read_from_esp.sh

[Install]
WantedBy=multi-user.target
